.navbar {
  position: sticky;
  top: 0%;
  height: 50px;
  width: 100%;
  background: var(--rootwhite);
  display: flex;
  z-index: 1;
  background-color: wheat;
  /* align-items:center; */
}
.navbar div {
  display: flex;
  font-size: small;
  justify-content: space-around;
}
.nav-center {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1170%;
  justify-content: space-around;
}
